<h3>{{leyenda}}
</h3>
<div class="input-group">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
          <i class=" fa fa-minus "></i>
        </button>
    </div>
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="porcentaje" min="1" max="100" (ngModelChange)="onChange($event)">
    <div class="input-group-append ">
        <button class="btn btn-primary " type="button " (click)="cambiarValor(5)">
          <i class="fa fa-plus "></i>
        </button>
    </div>
</div>